---
import { Button } from "@/components/starwind/button";
import Copy from "@tabler/icons/outline/copy.svg";
const { menuItems } = Astro.props;
const currentPath = Astro.url.pathname;
---

<aside
  id="sidebar"
  class={`hidden sm:flex w-64 transition-[width] duration-200 ease-in-out`}
>
  <div
    class="flex flex-col h-screen w-64 overflow-y-auto overflow-x-hidden text-nowrap border-r"
  >
    <div>
      <div class="flex flex-row justify-between items-center h-16 pl-2">
        <a href="/" class="flex items-center gap-2 text-3xl font-bold">
          <Copy />
          WebNDB
        </a>
        <Button
          id="sidebar-close-button"
          variant="ghost"
          size="sm"
          class="rounded-full mx-1"
        >
          x
        </Button>
      </div>
      <ul class="flex flex-1 flex-col min-w-0 min-h-0 p-2 gap-2">
        <li class="flex w-full min-w-0 flex-col gap-1">
          {
            menuItems.map((item) => (
              <Button
                href={item.href}
                variant="ghost"
                size="sm"
                class={`${item.href === currentPath ? "bg-foreground/10" : ""} rounded-lg justify-start font-normal !text-lg`}
              >
                <item.icon />
                <span>{item.label}</span>
              </Button>
            ))
          }
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col p-2 items-stretch text-center text-md gap-0.5 border-t mt-auto"
    >
      <div class="flex gap-8 mx-auto">
        <a href="/about" class="hover:underline">About</a>
        <a href="/api" class="hover:underline">API</a>
      </div>
      <a href="/compliance" class="hover:underline">Terms &amp; Policies</a>
      <span>© 2025 WebNDB</span>
    </div>
  </div>
</aside>
