---
import { Button } from "@/components/starwind/button";

const items = [
  {
    title:
      "title1 title1 title1title1 title1title1title1 title1title1title1 title1 title1title1title1",
    description:
      "description description description description descriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescription description description description description description description description description description description description description description description description description description description description description description description description description description description description description description ",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
  {
    title: "title1",
    description: "description",
    image: "https://images.ranobedb.org/BemgRkCwSP8WScJB.jpg",
  },
];
---

<div class="grid grid-cols-[repeat(auto-fit,_minmax(384px,_1fr))] gap-2 pt-2">
  {
    items.map((item) => (
      <div class="flex flex-col border-1 h-[384px] p-2">
        <div class="flex flex-col justify-center p-2 text-center text-ellipsis h-20">
          <a
            href={`/${item.title}`}
            class="line-clamp-2 text-lg font-bold leading-tight hover:underline"
          >
            {item.title}
          </a>
          <span class="line-clamp-1 text-sm">orig title</span>
        </div>
        <div class="flex justify-between px-8 border-t-2">
          <span>rating</span>
          <span>reviews</span>
          <span>readers</span>
        </div>
        <div class="border-b-2">Genres</div>
        <div class="flex gap-2 pt-2 min-h-0 flex-1">
          <img src={item.image} class="aspect-[5/7] object-cover" />
          <div class="flex flex-col flex-1 justify-between min-w-0">
            <div
              class="flex flex-col overflow-auto text-xs min-h-0 p-1
                    [&::-webkit-scrollbar]:w-1
                    [&::-webkit-scrollbar-track]:bg-transparent
                    [&::-webkit-scrollbar-thumb]:bg-transparent
                    hover:[&::-webkit-scrollbar-track]:bg-gray-100
                    hover:[&::-webkit-scrollbar-thumb]:bg-gray-300"
            >
              <p class="break-words">{item.description}</p>
              <span>author</span>
              <span>more info</span>
              <div>tags</div>
            </div>
            <div class="flex justify-between gap-2 p-1">
              <Button size="sm" class="flex-1">
                Add to reading list
              </Button>
              {/* share */}
              <Button size="sm">s</Button>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
