---
import CardNovelResults from "@/components/display/CardNovelResults.astro";
import CompactNovelResults from "@/components/display/CompactNovelResults.astro";
import GridNovelResults from "@/components/display/GridNovelResults.astro";
import { Button } from "@/components/starwind/button";
---

<div>
  <div class="flex justify-end pt-4 gap-2">
    <Button id="compact-view-btn" size="icon" variant="outline"> C </Button>
    <Button id="card-view-btn" size="icon" variant="outline"> D </Button>
    <Button id="grid-view-btn" size="icon" variant="outline"> G </Button>
  </div>
  <div id="compact-view" class="hidden">
    <CompactNovelResults />
  </div>
  <div id="card-view" class="hidden">
    <CardNovelResults />
  </div>
  <div id="grid-view" class="hidden">
    <GridNovelResults />
  </div>
</div>

<script>
  import { $novelResultsView } from "@/stores/novelResultsView";

  const compactViewBtn = document.getElementById("compact-view-btn");
  const gridViewBtn = document.getElementById("grid-view-btn");
  const cardViewBtn = document.getElementById("card-view-btn");
  const compactView = document.getElementById("compact-view");
  const gridView = document.getElementById("grid-view");
  const cardView = document.getElementById("card-view");

  const showView = (view: string) => {
    compactView?.classList.add("hidden");
    cardView?.classList.add("hidden");
    gridView?.classList.add("hidden");

    compactViewBtn?.classList.remove("pointer-events-none", "opacity-50");
    cardViewBtn?.classList.remove("pointer-events-none", "opacity-50");
    gridViewBtn?.classList.remove("pointer-events-none", "opacity-50");

    if (view === "compact") {
      compactView?.classList.remove("hidden");
      compactViewBtn?.classList.add("pointer-events-none", "opacity-50");
    } else if (view === "card") {
      cardView?.classList.remove("hidden");
      cardViewBtn?.classList.add("pointer-events-none", "opacity-50");
    } else {
      gridView?.classList.remove("hidden");
      gridViewBtn?.classList.add("pointer-events-none", "opacity-50");
    }
  };

  showView($novelResultsView.get());

  $novelResultsView.subscribe(showView);

  compactViewBtn?.addEventListener("click", () =>
    $novelResultsView.set("compact"),
  );
  cardViewBtn?.addEventListener("click", () => $novelResultsView.set("card"));
  gridViewBtn?.addEventListener("click", () => $novelResultsView.set("grid"));
</script>
