---
import SearchGroup from "@/components/search/group/SearchGroup";
import SearchLanguage from "@/components/search/language/SearchLanguage";
import SearchMinMax from "@/components/search/minMax/SearchMinMax";
import SearchSortBy from "@/components/search/sortBy/SearchSortBy";
import SearchStatus from "@/components/search/status/SearchStatus";
import SearchTag from "@/components/search/tag/SearchTag";
---

<!-- TODO: ui,
refactor duplicate code (if only used in element, have const = ()
move data to /data
support other viewports -->
<div
  id="filter"
  class="h-0 overflow-hidden transition-[height] duration-150 ease-linear"
>
  <div class="flex flex-col p-2 mt-2 overflow-visible">
    <div class="flex gap-8">
      <SearchLanguage type="Original" client:only="react" />
      <SearchLanguage type="Available" client:only="react" />
      <SearchGroup group="Publishers" client:only="react" />
      <SearchGroup group="Staff" client:only="react" />
    </div>
    <div class="flex gap-8">
      <SearchTag client:only="react" />
      <SearchStatus client:only="react" />
      <!-- TODO: dates -->
    </div>
    <div class="flex gap-8">
      <SearchMinMax type="Chapters" client:only="react" />
      <SearchMinMax type="Readers" client:only="react" />
      <SearchMinMax type="Rating" client:only="react" />
      <SearchMinMax type="# Ratings" client:only="react" />
      <SearchMinMax type="Reviews" client:only="react" />
    </div>
    <div class="flex gap-8">
      <SearchSortBy client:only="react" />
      <!-- <SearchReadingList client:only="react" /> -->
    </div>
  </div>
</div>
