---
import { Input } from "@/components/starwind/input";
import {
  Avatar,
  AvatarImage,
  AvatarFallback,
} from "@/components/starwind/avatar";
import {
  Dropdown,
  DropdownTrigger,
  DropdownContent,
  DropdownItem,
  DropdownLabel,
  DropdownSeparator,
} from "@/components/starwind/dropdown";
import { Button } from "@/components/starwind/button";
import Copy from "@tabler/icons/outline/copy.svg";
---

<div class="flex items-center justify-between px-4 py-2 border-b">
  <div class="flex gap-4">
    <Button />
    <a href="/" class="flex items-center gap-2 text-3xl"><Copy /> WebNDB</a>
  </div>
  <div class="flex items-center gap-4">
    <div class="relative">
      <!-- TODO: svg -->
      <Copy
        class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 w-5 pointer-events-none"
      />
      <Input size="md" placeholder="Search" class="pl-10" />
    </div>
    <Dropdown>
      <DropdownTrigger asChild>
        <Avatar size="md" class="cursor-pointer">
          <!-- TODO: avatar+fallback -->
          <AvatarImage
            src="https://i.pravatar.cc/150?u=a04258a2462d826712d"
            alt="John Doe"
          />
          <AvatarFallback>JD</AvatarFallback>
        </Avatar>
      </DropdownTrigger>
      <DropdownContent align="end">
        <!-- TODO: icon+link -->
        <DropdownItem>
          <Copy />
          Sign In
        </DropdownItem>
        <!-- TODO: icon+link -->
        <DropdownItem>
          <Copy />
          Register
        </DropdownItem>
        <DropdownSeparator />
        <!-- TODO: icon+link -->
        <DropdownItem>
          <Copy />
          Settings
        </DropdownItem>
      </DropdownContent>
    </Dropdown>
  </div>
</div>
