---
import HeaderActions from "@/components/nav/Header/HeaderActions.astro";
import Sidebar from "@/components/nav/Sidebar/Sidebar.astro";
import Copy from "@tabler/icons/outline/copy.svg";
---

<div class="flex items-center justify-between px-4 py-2 border-b">
  <div class="flex gap-4">
    <!-- <Sidebar /> -->
    <a href="/" class="flex items-center gap-2 text-3xl"><Copy /> WebNDB</a>
  </div>
  <HeaderActions />
</div>
