---
import Copy from "@tabler/icons/outline/copy.svg";
import Sidebar from "@/components/nav/Sidebar.astro";
import {
  Avatar,
  AvatarFallback,
  AvatarImage,
} from "@/components/starwind/avatar";
import { Button } from "@/components/starwind/button";
import {
  Dropdown,
  DropdownContent,
  DropdownItem,
  DropdownLabel,
  DropdownSeparator,
  DropdownTrigger,
} from "@/components/starwind/dropdown";
import { Input } from "@/components/starwind/input";
---

<div class="flex items-center justify-between px-4 py-2 border-b">
  <div class="flex gap-4">
    <Sidebar />
    <a href="/" class="flex items-center gap-2 text-3xl"><Copy /> WebNDB</a>
  </div>
  <div class="flex items-center gap-4">
    <div class="relative">
      <!-- TODO: svg -->
      <Copy
        class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 w-5 pointer-events-none"
      />
      <Input size="md" placeholder="Search" class="pl-10" />
    </div>
    <Dropdown>
      <DropdownTrigger asChild>
        <Avatar size="md" class="cursor-pointer">
          <!-- TODO: avatar+fallback -->
          <AvatarImage
            src="https://i.pravatar.cc/150?u=a04258a2462d826712d"
            alt="John Doe"
          />
          <AvatarFallback>JD</AvatarFallback>
        </Avatar>
      </DropdownTrigger>
      <DropdownContent align="end">
        <!-- TODO: avatar+fallback+link -->
        <div class="flex gap-0.5 p-2">
          <Button
            variant="ghost"
            class="flex flex-col items-center gap-2 p-4 w-full h-auto font-normal"
          >
            <Avatar size="lg" class="cursor-pointer">
              <AvatarImage
                src="https://i.pravatar.cc/150?u=a04258a2462d826712d"
                alt="John Doe"
              />
              <AvatarFallback>JD</AvatarFallback>
            </Avatar>
            <p>Guest</p>
          </Button>
        </div>
        <DropdownSeparator />
        <div class="flex gap-0.5 p-2">
          <Button variant="ghost">
            <Copy />
            Settings
          </Button>
          <!-- TODO: disabled if not signed in  -->
          <Button disabled variant="ghost">
            <Copy />
            Theme
          </Button>
        </div>
        <div class="flex flex-col gap-0.5 p-2">
          <!-- TODO: link, signout if signed in -->
          <Button class="justify-center w-full font-semibold"> Sign In </Button>
          <!-- TODO: link, only show if not signed in-->
          <Button variant="ghost" class="justify-center w-full font-semibold">
            Register
          </Button>
        </div>
      </DropdownContent>
    </Dropdown>
  </div>
</div>
