---
import HeaderActions from "@/components/nav/header/HeaderActions.astro";
import SheetSidebar from "@/components/nav/sidebar/SheetSidebar.astro";
import Sidebar from "@/components/nav/sidebar/Sidebar.astro";
import { Button } from "@/components/starwind/button";
import "@/styles/starwind.css";
import ThemeScript from "@/utils/ThemeScript.astro";
import Copy from "@tabler/icons/outline/copy.svg";
import { ClientRouter } from "astro:transitions";

const menuItems = [
  { label: "Home", icon: Copy, href: "/" },
  { label: "Novels", icon: Copy, href: "/novels" },
  { label: "Tags", icon: Copy, href: "/tags" },
  { label: "Publishers", icon: Copy, href: "/publishers" },
  { label: "Staff", icon: Copy, href: "/staff" },
  // { label: "Users", icon: Copy, href: "/users" },
  { label: "Forums", icon: Copy, href: "/forums" },
  { label: "Recent Changes", icon: Copy, href: "/history" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>title</title>
    <ThemeScript />
    <ClientRouter />
  </head>
  <body>
    <div class="flex">
      <Sidebar menuItems={menuItems} transition:persist />
      <div class="flex flex-col flex-1 min-w-0 sm:ml-64">
        <header
          class="fixed top-0 right-0 left-0 sm:left-64 flex h-16 shrink-0 items-center justify-between gap-2 border-b pr-4 bg-background z-30"
        >
          <SheetSidebar menuItems={menuItems} />
          <nav class="flex flex-1 gap-2">
            <Button
              id="sidebar-open-button"
              variant="ghost"
              size="sm"
              class="icon rounded-full mx-1 hidden"
            >
              <Copy />
            </Button>
            <a
              id="nav-header"
              href="/"
              class="flex items-center gap-2 text-3xl font-bold invisible"
            >
              <Copy />
              WebNDB
            </a>
          </nav>
          <HeaderActions />
        </header>
        <main class="mt-16 w-full max-w-370 mx-auto p-4">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<script>
  import { $sidebarState } from "@/stores/sidebar";

  document.addEventListener("astro:page-load", () => {
    const sidebar = document.getElementById("sidebar");
    const sidebarOpenButton = document.getElementById("sidebar-open-button");
    const sidebarCloseButton = document.getElementById("sidebar-close-button");
    const sheetSidebar = document.getElementById("sheet-sidebar");
    const sheetSidebarCloseButton = document.getElementById(
      "sheet-sidebar-close-button",
    );
    const navHeader = document.getElementById("nav-header");
    const smallScreenQuery = window.matchMedia("(max-width: 640px)");

    const handleScreenChange = (e) => {
      if (e.matches) {
        sidebarOpenButton.style.display = "none";
        sheetSidebar.style.display = "block";
        navHeader.style.visibility = "visible";
      } else {
        sheetSidebarCloseButton.click();
        sheetSidebar.style.display = "none";
        if ($sidebarState.get() === "collapsed") {
          sidebarOpenButton.style.display = "block";
        } else {
          navHeader.style.visibility = "hidden";
        }
      }
    };

    sidebarOpenButton.addEventListener("click", () => {
      sidebar.style.display = "";
      sidebar.style.width = "256px";
      sidebarOpenButton.style.display = "none";
      navHeader.style.visibility = "hidden";
      $sidebarState.set("expanded");
    });
    sidebarCloseButton.addEventListener("click", () => {
      sidebar.style.width = "0px";
      sidebarOpenButton.style.display = "block";
      navHeader.style.visibility = "visible";
      $sidebarState.set("collapsed");
    });

    if ($sidebarState.get() === "collapsed") {
      sidebar.style.display = "none";
      sidebar.style.width = "0px";
      sidebarOpenButton.style.display = "block";
      navHeader.style.visibility = "visible";
    }

    if (smallScreenQuery.matches) {
      sidebarOpenButton.style.display = "none";
      navHeader.style.visibility = "visible";
    }

    smallScreenQuery.addEventListener("change", handleScreenChange);
  });
</script>
