---
import HeaderActions from "@/components/nav/Header/HeaderActions.astro";
import Sidebar from "@/components/nav/Sidebar/Sidebar.tsx";
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import "@/styles/starwind.css";
import ThemeScript from "@/utils/ThemeScript.astro";
import Copy from "@tabler/icons/outline/copy.svg";
import { ClientRouter } from "astro:transitions";
import { PanelLeftIcon } from "lucide-react";
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>title</title>
    <ThemeScript />
    <ClientRouter />
  </head>
  <body>
    <div class="flex">
      <div>
        <Sidebar
          client:only="react"
          transition:persist
          currentPath={currentPath}
        >
          <!-- TODO: icon -->
          <div slot="fallback">
            <Button
              variant="ghost"
              size="icon"
              className={cn("size-7 absolute top-4 left-2 z-50")}
            >
              <PanelLeftIcon />
              <span class="sr-only">Toggle Sidebar</span>
            </Button>
          </div>
        </Sidebar>
      </div>
      <main class="flex flex-col w-full">
        <header
          class="flex h-16 shrink-0 items-center justify-between gap-2 border-b pl-10 pr-4"
        >
          <a
            id="nav-header"
            href="/"
            class="flex items-center gap-2 text-3xl font-bold"
          >
            <Copy />
            WebNDB
          </a>
          <HeaderActions />
        </header>
        <div class="grid gap-6 px-4"><slot /></div>
      </main>
    </div>
  </body>
</html>
